/* font-family: 'Roboto', sans-serif; */

body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
}

nav a {
    color: #636769;
    text-decoration: none;
    font-size: 18px;
    line-height: 30px;
}

nav ul {
    width: 500px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px 0 450px;
}



.sing-up-btn {
    font-family: 'Roboto', sans-serif;
    background: #6157AB;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    color: #FFFFFF;
    padding: 12px 24px;
    width: 158px;
    height: 54px;
    cursor: pointer;
}

header {
    /* width: 1200px; */
    height: 84px;
    display: flex;
    justify-content: 
    flex-end;
    align-items: center;
    margin-right: 60px;
}

/* promo section */

.promo-text h1 {
    width: 616px;
    font-weight: 400;
    font-size: 64px;
    line-height: 70px;
    letter-spacing: 1px;
    color: #363B3D;
}

.promo-text p {
    width: 600px;
    font-size: 20px;
    line-height: 34px;    
    letter-spacing: 0.05px;
    color: #636769;
    margin: 35px 0;
}

.learn-more-btn {
    border: none;
    border-bottom: #6157AB 2px solid;
    background-color: transparent;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    padding: 10px 0;
    margin: 0 0 0 48px;
    width: 100px;
    height: 54px;
    color: #6157AB;
    font-family: 'Roboto', sans-serif;
}

.promo-featured ul {
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.promo-featured p {
    font-size: 11px;
    line-height: 16px;   
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #96979A;
}

.promo {
    display: flex;
    justify-content: center;
    margin: 128px 0 0 0;
}

.promo-cont {
    height: 776px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.promo-img {
    margin-top: 60px;
}


