/* font-family: 'Roboto', sans-serif; */

body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
}

nav a {
    color: #636769;
    text-decoration: none;
    font-size: 18px;
    line-height: 30px;
}

nav ul {
    width: 500px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px 0 450px;
}



.sing-up-btn {
    font-family: 'Roboto', sans-serif;
    background: #6157AB;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    color: #FFFFFF;
    padding: 12px 24px;
    height: 54px;
    cursor: pointer;
}

header {
    /* width: 1200px; */
    height: 84px;
    display: flex;
    justify-content: 
    flex-end;
    align-items: center;
    margin-right: 60px;
}

/* promo section */

.promo-text h1 {
    width: 616px;
    font-weight: 400;
    font-size: 64px;
    line-height: 70px;
    letter-spacing: 1px;
    color: #363B3D;
}

.promo-text p {
    width: 600px;
    font-size: 20px;
    line-height: 34px;    
    letter-spacing: 0.05px;
    color: #636769;
    margin: 35px 0;
}

.learn-more-btn {
    border: none;
    border-bottom: #6157AB 2px solid;
    background-color: transparent;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    padding: 10px 0;
    margin: 0 0 0 48px;
    width: 100px;
    height: 54px;
    color: #6157AB;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.promo-featured ul {
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 0;
}

.promo-featured p {
    font-size: 11px;
    line-height: 16px;   
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #96979A;
}

.promo {
    display: flex;
    justify-content: center;
    margin: 128px 0 0 0;
}

.promo-cont {
    height: 776px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.promo-img {
    margin-top: 60px;
}


/* article text */

article {
    background-color: #F5F4F2;
}

.empower-text h2 {
    font-weight: 400;
    font-size: 52px;
    line-height: 65px;
    text-align: center;
    letter-spacing: 0.675px;
    color: #333333;
    padding: 52px 0 0 0 ;
}

.empower-text button {
    background: #FFFFFF;
    border: 1px solid #AAB8BF;
    border-radius: 6.8px;
    padding: 15px 25px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 30px; 
    letter-spacing: 2.32px;
    text-transform: uppercase;
    color: #7A858A;
    text-decoration: none;
}

.empower-text button:hover {
    background: #ECEAF8;
    border: 1px solid #6157AB;
    border-radius: 6.8px;
    color: #6157AB;
}

.empower-text ul {
    width: 990px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

/* article first section */

.give-buyers {
    width: 1080px;
    margin: 74px auto;
    padding: 74px;
    background-color: #fff;
    border-radius: 19px 19px 0px 0px;
}

.give-buyers-text h4 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2.32px;
    text-transform: uppercase;
    color: #574D9C;
    margin: 0 0 90px 0;
}

.give-buyers h3 {
    width: 367px;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #363B3D;
}

.give-buyers p {
    width: 367px;
    font-size: 21px;
    line-height: 30px;
    color: #636769;
}

.give-buyers-text {
    border-top: #C9D3D9 1px solid;
    padding: 32px 0 0 0;
}

.give-buyers-container1 {
    width: 932px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.give-buyers-container2 {
    width: 932px;
    margin: 64px auto;
    padding: 64px 0;
    display: flex;
    justify-content: space-between;
    border-top: #C9D3D9 1px solid;
}

.give-buyers-figure p {
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #6157AB;
    width: 190px;
}

.give-buyers-figure img {
    width: 70px;
    height: 70px;

}

.give-buyers-figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}


